@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  display: flex;
}

body {
  background-color: #272933;
  color: #FCF8F6;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 160px; }

p, ol, ul, td {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px; }

h1 {
  font-family: 'Gotham Ultra', sans-serif;
  font-size: 40px;
}

h2{
  font-family: 'Gotham', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

h3, a, button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

pre {
  background-color: #FCF8F6;
  padding: 10px;
  font-size: 11px; }

a {
  color: #FCF8F6;
  text-decoration: none;
}

a:visited {
  color: #FCF8F6; }

a:hover {
  color: #CD9777;
  text-decoration: underline;
}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: #E6B8A2; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid #CD9777;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #272933; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #CD9777;
  color: #272933; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }







/* PARTIE CSS INDEX */

.firstdiv_index{
  margin: 170px 0 170px 30%;
}

.firstdiv_index h2 {
  padding-left: 40px;
}

.image_index{
  width:auto;
  height:220px;
  border-radius: 15%;
}

.tableau_index{
  display: flex;
  flex-wrap: wrap;
}

.iteration_index{
  display: inline;
  text-align:left;
  margin: 2% 5%;
  //justify-content:space-between !important;
  //align-items:center;
}
