<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas fait de demade, ignore cet email.</p>
<p>Ton mot de passe ne changera pas tant que tu ne cliqueras pas sur le lien ci-desssus..</p>
